.search .btn--open{
    left: 0;
    top: 45%;
    z-index: 1;
    position: fixed;
    transform: translateY(-50%);
}
.container-search{
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    background-color: #000;
    border-right: 1px solid #fff;
}
.container-search .btn--close{
    top: 10px;
    right: 10px;
    position: absolute;
}
.container-search .container{
    top: 50%;
    opacity: 1;
    position: relative;
    transition: .25s ease;
    transform: translateY(-50%);
}
.container-search.close{
    width: 0;    
}
.container-search.close .container{
    opacity: 0;
}
.header{
    font-size: 60px;
    text-align: center;
}
.select-custom{
    max-width: 150px;
}
.select-custom option{
    color: #000;
}
button[type=submit]{
    border-radius: 0 0.25rem 0.25rem 0;
}
@media screen and (max-device-width: 575.98px) {
    .container-search .input-group-prepend{
        display: none;
    }
}